h1{
  color:#45094C   ;
  font-weight: normal;
  font-size: 40px;
  font-family: Times new roman;
  text-align:center;
}
h2{
  line-height : 40px;
  color:#811C8D ;
  font-weight: normal;
  font-size: 30px;
  font-family: Times new roman;
  text-align:center;
}
h3{
  line-height : 50px;
  color:#323E48;
}
body {background-color: #F2C4F8 ;}
 
